<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    <h1>NOOBiNFORMER</h1>
    <div class="form rounded">
        <p> Welcome Back!</p>
        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Email" required/>
            <input type="password" name="password" placeholder="Password" required />
            <input type="submit" value="Login">
        </form>
    </div>
    <!-- action="/login" a method="POST" form -->
    <!-- form needs  username || e-mail && password -->
    <%- include('../partials/navbar')%>



    <!-- <form action="/games" method="POST">
        <div>
            <div class="form-group col-md-6">
                <label>Name</label>
                <input class="form-control" name="name" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
                <label>Description</label>
                <input type="text" class="form-control" name="description" placeholder="Description">
            </div>
            <div class="form-group col-md-6">
                <label>Icon</label>
                <input class="form-control" name="icon" placeholder="Icon Link">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Link to Site</label>
            <input type="text" class="form-control" name="link" placeholder="Link to Website">
        </div>
        <button type="submit" class="btn btn-primary" value="Create Dev">Add Dev Company</button> -->
</body>
</html>