
    <!-- views/partials/navbar.ejs -->

        <nav class="border rounded-pill" id="nav">
            <a class="text-secondary" href="/"> Home Page </a> |
            <a class="text-secondary" href="/games"> Games Page </a> |
            <a class="text-secondary" href="/games/new"> Add Games Page </a> |
            <a class="text-secondary" href="/devs">Developer Page </a> |
            <a class="text-secondary" href="/devs/new">Add Developer Page </a>
        </nav>
 
