
    <!-- views/partials/navbar.ejs -->

        <nav id="nav">
            <a href="/"> Home Page </a> |
            <a href="/games"> Games Page </a> |
            <a href="/games/new"> Add Games Page </a> |
            <a href="/devs">Developer Page </a> |
            <a href="/devs/new">Add Developer Page </a> |
        </nav>
 
