
    <!-- views/partials/navbar.ejs -->
        <nav class="border rounded-pill" id="nav">
            <a class="text-secondary" href="/"> Home Page </a> |
            <a class="text-secondary" href="/games"> Games Page </a> |
            <a class="text-secondary" href="/devs">Developer Page </a>
        </nav>
 
