<nav>
    Noob Informer

    <% if(user) {%> 

        <a href="/games/fav">Favorite Games</a> <br>
        <a href="/devs/fav">Favorite Devs</a> <br>
    <% }else{ %>
        <a href="/register">Register</a> <br>
        <a href="/login">Login</a>
    <% } %> 

</nav>