<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- games.ForEach list out each game && icon -->
    <h1>hit</h1>
    <% games.forEach(game => { %>
        <a href="/games/<%= game._id %>"><%= game.title %></a>
        <a href="/games/<%= game._id %>/edit">Edit</a>
    <% }) %>
</body>
</html>