<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Game</title>
</head>
<body>
    1
    
    <!-- create form with user input -->
    <!--  action = game/ :id/ create method=POST -->
</body>
</html>
<!-- title: {type: String, required: true, unique: true},
    releaseDate: {type: Date, required: true},
    description: {type: String, required: true},
    img: {type: String, required: true},
    genre: [{type: String, required: true}],
    link: {type: String, required: true},
    dev: [{
        type: mongoose.Schema.Types.ObjectId,
        ref: "Dev",
    }] -->