<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Game</title>
</head>
<body>
    
    <h1>Add A New Game</h1>
    <form action="/games" method="POST">
        <input type="text" name="title" placeholder="Title"/><br>
        <input type="text" name="releaseDate" placeholder="Release Date"/><br>
        <input type="text" name="description" placeholder="Description"/><br>
        <input type="text" name="img" placeholder="Link to Image"/><br>
        <input type="text" name="genre" placeholder="Genre"/><br>
        <input type="text" name="link" placeholder="Link to Website"/><br>
        <input type="submit" value="Create Game" />
        <a href="/games">Games Page</a>
    </form>
    
    <!-- create form with user input -->
    <!--  action = game/ :id/ create method=POST -->
</body>
</html>
