<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Show Page</title>
</head>
<body>
    <h1>Game</h1>
    <%= game.title %> 
     <!-- take in object called game (data) -->
    <!-- display all game's (data) -->
    <!-- description/icon/date/ratings/link -->
</body>
</html>