h1 {
    position:absolute;
    right:38%;
    left:38%;
    
}
/* for games && dev description */
.descriptions {
    color: #ffa500;
    /* #2f4f4f */
    background-color:#333;
}


/* NavBar */

nav.border.border-warning.rounded-pill {
    position:absolute;
    top:50px;
    right:25%;
    left:25%;
    margin-left:-150px;
    max-height: fit-content;
    max-width: fit-content;
    padding: 10px;
    margin: 2px;
    color: #ffa500;
    text-align: center;
    background-color: #d2dde9;
}
.bi.bi-lightning {
    color: #ffe500;
}